<div class="row">
  <div class="col-lg-8 col-xs-12 col-md-6">
    <div class="name">
        <a routerLinkActive="active-link" routerLink="/home">Pragna Munagala</a>
        <br>
      <p>Email: pmunagal@asu.edu</p>
      <p>Mobile: +1-4804101171</p>
    </div>
  </div>
  <div class="col-lg-4 col-xs-12 col-md-6">
      <div class="links">
        <a routerLinkActive="active-link" href="https://www.linkedin.com/in/pragna-munagala-13a62559/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a routerLinkActive="active-link" href="https://github.com/PragnaMunagala" target="_blank"><i class="fa fa-github"></i></a>
        <a routerLinkActive="active-link" href="https://twitter.com/Pragna_Munagala" target="_blank"><li class="fa fa-twitter"></li></a>
        <a routerLinkActive="active-link" href="https://www.facebook.com/pragna.munagala" target="_blank"><li class="fa fa-facebook"></li></a>
        <a routerLinkActive="active-link" class="resume" routerLink="../../assets/files/Pragna_Munagala_Resume.pdf" target="_blank">Resume</a>
      </div>
  </div>
</div>
