<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-4">
    <div class="name">
        <a routerLinkActive="active-link" routerLink="/home">Pragna Munagala</a>
        <br>
      <p>Email: pmunagal@asu.edu</p>
      <p>Mobile: +1-4804101171</p>
    </div>
  </div>
  <div class="col-lg-8 col-md-4 col-xs-12">
    <ul>
      <div class="links">
      <li><a routerLinkActive="active-link" href="https://www.linkedin.com/in/pragna-munagala-13a62559/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a routerLinkActive="active-link" href="https://github.com/PragnaMunagala" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a routerLinkActive="active-link" href="https://twitter.com/Pragna_Munagala" target="_blank"><li class="fa fa-twitter"></li></a></li>
      <li><a routerLinkActive="active-link" href="https://www.facebook.com/pragna.munagala" target="_blank"><li class="fa fa-facebook"></li></a></li>
      </div>
      <div class="dropdown" dropdown>
      <button class="btn btn-success menu-open" dropdown-open><i class="fa fa-bars" aria-hidden="true"></i></button>
      <ul class="dropdown-menu">
        <li><a routerLinkActive="active-link" routerLink="/home">About</a></li>
        <li><a routerLinkActive="active-link" routerLink="/experience">Experience</a></li>
        <li><a routerLinkActive="active-link" routerLink="/skills">Skills</a></li>
        <li><a routerLinkActive="active-link" routerLink="/projects">Academic Projects</a></li>
        <li><a routerLinkActive="active-link" routerLink="/achievements">Achievements</a></li>
        <li><a routerLinkActive="active-link" href="../../assets/files/Pragna_Munagala_Resume.pdf" target="_blank">Resume</a></li>
      </ul>
    </div>
    </ul>
  </div>
  <!--<div class="col-lg-7 col-md-7 col-xs-12">-->
    <!--<ul>-->
      <!--<li><a routerLinkActive="active-link" routerLink="/home">About</a></li>-->
      <!--<li><a routerLinkActive="active-link" routerLink="/experience">Experience</a></li>-->
      <!--<li><a routerLinkActive="active-link" routerLink="/skills">Skills</a></li>-->
      <!--<li><a routerLinkActive="active-link" routerLink="/projects">Academic Projects</a></li>-->
      <!--<li><a routerLinkActive="active-link" routerLink="/achievements">Achievements</a></li>-->
      <!--<li><a routerLinkActive="active-link" href="../../assets/files/Pragna_Munagala_Resume.pdf" target="_blank">Resume</a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<div class="col-lg-2 col-xs-12 col-md-2">-->
      <!--<div class="links">-->
        <!--<a routerLinkActive="active-link" href="https://www.linkedin.com/in/pragna-munagala-13a62559/" target="_blank"><i class="fa fa-linkedin"></i></a>-->
        <!--<a routerLinkActive="active-link" href="https://github.com/PragnaMunagala" target="_blank"><i class="fa fa-github"></i></a>-->
        <!--<a routerLinkActive="active-link" href="https://twitter.com/Pragna_Munagala" target="_blank"><li class="fa fa-twitter"></li></a>-->
        <!--<a routerLinkActive="active-link" href="https://www.facebook.com/pragna.munagala" target="_blank"><li class="fa fa-facebook"></li></a>-->
      <!--</div>-->
  <!--</div>-->
</div>
