a {
  margin: 3% 2%;
}

.links {
  display: inline;
  width: 100%;
}

.name {
  padding-left: 2%;
}

.name a {
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  margin-left:0% !important;
}

.name a:hover {
  color: palevioletred
}

.links .fa {
  font-size: 40px;
  vertical-align: middle;
}

button {
  color: #ffffff;
  border-radius: 5px;
  font-size: x-large;
  width: fit-content;
  background-color: #0275d8;
  margin-bottom: 2%;
}

.name p{
  margin: 0;
  font-size: large;
}

.resume {
  font-size: 25px;
}

ul {
  font-weight: bold;
  font-size: medium;
  float: right;
  width: 100%;
}

ul li {
  list-style: none;
  display: inline;
}

.dropdown-menu {
  padding-top: 0;
  margin: 0;
}

.menu-open {
  margin-bottom: 0;
  background-color: #398439;
}

.menu-open span {
  padding: 0 3%;
  width: 2%;
}

.dropdown {
  display: inline;
  line-height: 5;
}

.dropdown-menu {
  top: unset;
}

.menu-open .fa {
  font-size: 35px;
  padding: 2px !important;
}

.row{
  padding-bottom: 0 !important;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 180px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 15px 15px;
  text-decoration: none;
  display: block;
  font-weight: normal;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.hint {
  font-size: x-small;
  margin-bottom: 2%;
  display: block;
  color: darkblue;
}
