ul, li{
  list-style-type: disc;
  font-weight: normal;
}

ul li{
  color: darkmagenta;
  font-size: medium;
  padding: 1% 0%;
}

.medal {
  height: 350px;
  width: 50%;
  padding: 2% 5% 2% 5%;
}

.award {
  width: 70%;
  height: 350px;
  padding: 2% 5% 2% 5%;
}
