<ul>
  <li>Received Elico D V S Raju Gold Medal as the topper of 2010-2014 batch of my under-graduation</li>
  <li>Received Shanti Subrahmanyam award as best girl student in my under-graduation</li>
  <li>Received Merit Scholarship from government of India for my under-graduation</li>
  <li>Received Spot award (best employee) appreciating my performance at Deloitte for the year 2016</li>
  <li>Received Funding as Graduate Research Associate for Fall 2017 appreciating my performance for the year 2017 at
   Cyber Security lab at ASU</li>
</ul>
