.title{
  font-weight: bold;
  color: darkblue;
  font-size: large;
  padding-top: 1%;
}

.title li {
  color: darkmagenta;
  font-size: medium;
  font-weight: normal;
}

.project {
  padding-left: 4%;
}

.project div{
  padding-left: 5%;
}

ul li {
  list-style-type: disc;
}

.project .fa {
  font-size: 25px;
}

.project span {
  color: green;
  font-size: x-large;
  font-weight: bold;
  padding-left: 2%;
}

.details span, .prjct-desc span{
  color: red;
  font-size: medium;
  font-weight: bold;
  padding-left: 0;
}

.prjct-desc li{
  color: darkmagenta;
  font-size: medium;
  font-weight: normal;
}

.link{
  text-decoration: underline !important;
  color: blue !important;
}

.options {
  color: blue !important;
  margin: 2% 2%;
  font-size: medium;
  cursor: pointer;
}

.options-box {
  margin-bottom: 2%;
}
