<div class="options-box">
  <a class="options" (click)="options(true)">Expand All</a>
  <a class="options" (click)="options(false)">Collapse All</a>
</div>
<div *ngFor="let p of projects; let i = index" class="project">
  <a *ngIf="!p.show" (click)="selectedRow(i, true)"><i class="fa fa-plus-circle"></i></a>
  <a *ngIf="p.show" (click)="selectedRow(i, false)"><i class="fa fa-minus-circle"></i></a>
  <span>{{p.category}}</span>
  <div *ngIf="p.show">
    <ul>
      <li *ngFor="let prj of p.project" class="title">{{prj.title}}
        <ul class="details">
          <li><Span>{{prj.lang[0]}}:</Span>
            <ul>
              <li>{{prj.lang[1]}}</li>
            </ul>
          </li>
          <li class="prjct-desc"><span>Description:</span>
            <ul>
              <li *ngFor="let desc of prj.desc">{{desc}}</li>
            </ul>
          </li>
          <li><span>{{prj.src[0]}}:</span>
            <ul>
              <li><a class="link" href="{{prj.src[1]}}" target="_blank">{{prj.src[1]}}</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
