ul, li{
  list-style-type: disc;
  font-weight: normal;
}

p {
  font-weight: normal;
  padding: 2% 4%;
}

.title p {
  color: darkmagenta;
  font-size: medium;
}

.title{
  font-weight: bold;
  color: darkblue;
  font-size: large;
}
