<div class="detail-row">
    <div *ngIf="toDisplay == 'home'">
      <div>
        <img src="./assets/images/pic.jpg" class="profile">
      </div>
      <div>
        <span>
      I'm a Masters' student at Arizona State University in the department of Computer Engineering (Computer Systems). I am currently working
      as an Angular Developement Intern at AdviNOW Medical, Scottsdale. I have been working as a front end developer
        for 3+ years.
      <br>
      <br>
      My areas of interest includes Web Development, Backend Development, Machine Learning.
       <br><br>
        <i>
          "Software is like our universe. It requires imagination and vision to know the depth of it."
        </i>
      </span>
      </div>
    </div>
    <app-experience *ngIf="toDisplay == 'exp'"></app-experience>
    <app-skills *ngIf="toDisplay == 'skills'"></app-skills>
    <app-projects *ngIf="toDisplay == 'prjct'"></app-projects>
    <app-achievements *ngIf="toDisplay == 'achievements'"></app-achievements>
</div>
