button {
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  width: 60%;
  height: 100px !important;
  border: transparent;
}

button a{
  color: #ffffff;
}

a.button a:hover {
  cursor: pointer;
  color: palevioletred;
}

.exp {
  background-color: limegreen;
}

.skills {
  background-color: coral;
}

.prjct {
  background-color: royalblue;
}

.profile {
  height: 20%;
  width: 70%;
  padding: 2% 5% 2% 30%;
}

ul, ul li{
  padding-left: 0px;
  background-color: wheat;
  list-style: none;
  margin-bottom: 0px;
  padding: 2% 0% 2% 0%;
}

li a{
  font-size: medium;
  font-weight: bold;
  padding: 2% 0% 2% 25%;
}

.row{
  padding-left: 0% !important;
  padding-top: 0% !important;
}

ul li:hover{
  cursor: pointer;
  color: palevioletred;
  background-color: orange !important;
}

.selected {
  background-color: orange !important;
}
