<div class="row">
  <div *ngFor="let item of items">
    <div class="col-lg-3">
      <button [ngClass]="[item.cls]"><a routerLinkActive="active-link" (click)="routingApp(item.url, item.name)">{{item.name}}</a></button>
    </div>
  </div>
</div>
<div class="row">
  <div *ngIf="toDisplay == 'home'">
    <div class="col-lg-10 col-md-10 col-xs-12">
      <span>
      I am a Masters student at Arizona State University in the department of Computer Engineering (Computer Systems). I am currently working
      as an Angular Developement Intern at AdviNOW Medical. My work experience includes 3+ years as a front end web developer.
      <br>
      <br>
      My areas of interest includes Web Development, Backend Development, Machine Learning.
    </span>
    </div>
    <div class="col-lg-2 col-md-2 col-xs-12">
      <img src="../../assets/images/profile.jpg" class="profile" />
    </div>

  </div>
  <!--<app-experience *ngIf="toDisplay == 'exp'"></app-experience>-->
</div>
